body {
}

header {
  color: yellow;
  font-size: 80px;
  text-align: center;
}

button {
}

div {
}

h1 {
}

details {
}

summary {
}

img {
}

a {
}

footer {
}

#hobby1 {
}

#hobby2 {
}

#hobby3 {
}
